.ymaps-2-1-22-button__icon_icon_prevDrugStore {
    font-family: webdings;
    font-size: 24px;
}

.glyphicon-triangle-right:before {
    content: "\F034";
}

.glyphicon-triangle-left:before {
    content: "\F033";
}